
.App {
    width: 100% !important;
    background-color: var(--dark-white); /* wild-sand */
}

.App-header {
    height: 4em;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.bottom-border {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--light-black);
    border-radius: 0 !important;
}

/* Input Styles */
.form-control {
    border:0;
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: var(--main-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-text {
    border: 0;
    background-color: var(--white);
}

.input-container {
    background-color: var(--dark-white);
    border-radius: 3px;
    margin-top: var(--bootstrap4-2-size);
    padding: var(--bootstrap4-2-size) .4rem var(--bootstrap4-2-size) var(--bootstrap4-2-size);
}

.btn {
    background-color: var(--main-color) !important; /**/
    border: 1px solid var(--main-color);
    width: 100%;
    font-weight: 500;
}

.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    box-shadow: inset 0 0px 0 #ddd !important;
}

.logout-btn {
    text-align: left;
    padding: .4em 0em .4em 0em;
    color: #9BC4F1;
    background: var(--main-color);
    border:0;
}
.logout-btn:hover {
    padding: .4em 0em .4em 0em;
    color: #BFDAF6;
    background: var(--main-color);
    border:0;
}


.account-btn {
    background-color: var(--white) !important;
    border: 1px solid var(--dark-white);
    color: var(--text-color);
}
.account-btn:hover {
    color: lightcoral;
}
.account-btn:active{
    color: lightcoral;
}
.account-btn-gr {
    background-color: var(--white) !important;
    border: 1px solid var(--dark-white);
    color: var(--text-color);
}
.account-btn-gr:hover {
    color: lightgreen;
}
.account-btn:active{
    color: lightgreen;
}

.icon {
    color: var(--main-color);
    border:0;
}

.side {
    z-index: 999;
    box-shadow: 2px 1px 10px 0px rgba(30, 30, 31, .5);
}

.card-header {
    background-color: var(--white);
}
.table td {
    text-align: center;
}
.table th {
    text-align: center;
    font-weight: normal;
}
.dropdown-item:active {
    background-color: var(--dark-white);
    color: var(--text-color);
}

.my-spinner {
    margin: auto;
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 10px;
}

.my-spinner > div {
    background-color: var(--main-color);
    height: 70%;
    width: 10px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.my-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.my-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.my-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.my-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.i {
    color: var(--main-color);
}
