.remote-btn {
    background-color: var(--white) !important;
    border: 1px solid var(--dark-white);
    color: var(--text-color);
}
.remote-btn:hover {
    color: var(--main-color);
}
.remote-btn:active{
    color: var(--main-color);

}

.redistrict-control:hover {
    border-bottom: 1px solid var(--light-black);
}
.info {
    padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: var(--white) !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0 !important;
}

.checkBox {

}

.btn .collapse-btn {
    border:0;
}
.collapse-btn {
    padding:1em;
    background-color: var(--white) !important;
    color: var(--main-color);
    border:0;
}

.collapse-btn:hover{
    padding:1em;
    background-color: var(--white) !important;
    color: var(--main-color);
}
.collapse-btn:active{
    padding:1em;
    background-color: var(--white) !important;
    color: var(--main-color);
}

.switch {

    position: relative;
    display: inline-block;
    width: 3.4em;
    height: 1em;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    top: 1px;
    left: 4px;
    bottom:0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


#state-select {
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:0;
}
.weight {

}
.sliderMeasure {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;

}

.sliderMeasure:hover {
    opacity: 1;
}

.sliderMeasure::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 50%;
}

.sliderMeasure::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 50%;
}
