.dg-sidebar {   
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    bottom: 0;
    overflow-y: scroll; 
    overflow-x: hidden;
}
