.navbar {
    padding: .9em 0em .9em 0em !important;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--main-color) !important;

}

ul {
    list-style-type: none;

}
ul li a {
    color: #9CC4F1;
}
ul li a:hover {
    color: #FFFFFF;
}
