.page {   
    flex: 1 0 auto;
    padding: .4em 1.8em 1em 1.8em !important;
}

img {
    width: 22em;
    height: 15em;
}

.link {
    color: var(--main-color);
}

.title {
    border-bottom: 1px solid #E5E5E5;
}

.content {
    padding-top: 1.5em;
}

::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    background: rgba(0, 0, 0, 0.15);
}