@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";

#root {
    --main-color: #3D88EC;
    --light-black: #E5E5E5;
    --white: #FFFFFF;
    --dark-white: #F2F6F9;
    --text-color: #545454;

    --bootstrap4-2-size: .5rem;
    --bootstrap4-3-size: 1rem;
}
.bg-dark-white {
    background-color: #F2F6F9;
}
html,
body,
#root {
    margin: 0;

    height: 100%;
    max-width:100%;
    
    font-family: Roboto, sans-serif, "Avenir", "Arial";
    font-size: 14px;

    line-height: 1.538;
    color: var(--text-color);
    
    background-color: #F4F4F4;
}

h1 {
    font-size:20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
